#header-photo {
  width: 100%;
}

#homepic {
  width: 100%;
  position: relative;
}

#overpic {
  position: absolute;
  top: 30%;
  left: 45%;
  color: white;
  text-align: center;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.homepage-panel {
  height: 400px;
  text-align: center;
}

.homepage-offer {
  margin-top: 20px;
}