$bgDefault      : #000000;
$bgHighlight    : #ffffff;
$colDefault     : #ffffff;
$colHighlight   : #000000;

.navbar-fixed-top {
  background-color: $bgDefault;
}

.navbar-brand {
  color: $colDefault;
}

.navbar-nav li a, .cart {
  color: $colDefault;
}

.navbar-nav li a:hover, .cart {
  background-color: $bgHighlight;
  color: $colHighlight;
}

.navbar-nav li a:focus, .cart {
  background-color: $bgHighlight;
  color: $colHighlight;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: $colDefault;
}