<div id="header-photo">
    <img id="homepic" src="../images/main.jpg">
    <h1 id="overpic">Cool Brand</h1>
</div>

<div class="row homepage-offer">
    <div class="col-md-4 homepage-panel piano">
        <h1>Piano accesories</h1>
        <p>Lorem ipsum generic text blah blah</p>
    </div>
    <div class="col-md-4 homepage-panel camera">
        <h1>Edge-cutting cameras</h1>
        <p>Lorem ipsum generic text blah blah</p>
    </div>
    <div class="col-md-4 homepage-panel coffee">
        <h1>Hipster-class coffee</h1>
        <p>Lorem ipsum generic text blah blah</p>
    </div>
</div>