<div class="col-xs-6 col-xs-offset-3">
    <form>
        <div class="form-group">
            <div class="col-xs-3"><label for="first-name">First name</label></div>
            <div class="col-xs-9"><input class="form-control" id="first-name"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"><label for="surname">Surname</label></div>
            <div class="col-xs-9"><input class="form-control" id="surname"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"><label for="nick">Nick</label></div>
            <div class="col-xs-9"><input class="form-control" id="nick"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"><label for="email">E-mail</label></div>
            <div class="col-xs-9"><input class="form-control" id="email" type="email" placeholder="name@domain.com"></div>
        </div>
        <div class="col-xs-offset-5"><button type="submit" class="btn btn-default">Submit</button></div>
    </form>
</div>