<div class="col-xs-5 col-xs-offset-3">

    <form>
        <div class="form-group">
            <div class="col-xs-3"><label for="email">E-mail</label></div>
            <div class="col-xs-9"><input class="form-control" id="email" type="email" placeholder="name@domain.com"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"><label for="password">Password</label></div>
            <div class="col-xs-9"><input class="form-control" id="password" type="password"z></div>
        </div>
        <div class="col-xs-9 col-xs-offset-3"><button type="submit" class="btn btn-default btn-wide">Submit</button></div>
    </form>
</div>