.navbar-fixed-top {
  background-color: #000000; }

.navbar-brand {
  color: #ffffff; }

.navbar-nav li a, .cart {
  color: #ffffff; }

.navbar-nav li a:hover, .cart {
  background-color: #ffffff;
  color: #000000; }

.navbar-nav li a:focus, .cart {
  background-color: #ffffff;
  color: #000000; }

.navbar-brand:hover, .navbar-brand:focus {
  color: #ffffff; }

#header-photo {
  width: 100%; }

#homepic {
  width: 100%;
  position: relative; }

#overpic {
  position: absolute;
  top: 30%;
  left: 45%;
  color: white;
  text-align: center; }

.row {
  margin-right: 0;
  margin-left: 0; }

.homepage-panel {
  height: 350px;
  text-align: center; }

.homepage-offer {
  margin-top: 20px; }

.piano, .coffee {
  background-color: white; }

.camera {
  background-color: lightgray; }

body {
  padding-top: 50px; }
