.navbar-fixed-top {
  background-color: #000000; }

.navbar-brand {
  color: #ffffff; }

.navbar-nav li a {
  color: #ffffff; }

.navbar-nav li a:hover {
  background-color: #ffffff;
  color: #000000; }

.navbar-nav li a:focus {
  background-color: #ffffff;
  color: #000000; }

#header-photo {
  width: 100%; }

#homepic {
  width: 100%;
  position: relative; }

#overpic {
  position: absolute;
  top: 30%;
  left: 45%;
  color: white;
  text-align: center; }

body {
  padding-top: 50px; }
