.navbar-fixed-top {
  background-color: #000000; }

.navbar-brand {
  color: #ffffff; }

.navbar-nav li a, .cart {
  color: #ffffff; }

.navbar-nav li a:hover, .cart {
  background-color: #ffffff;
  color: #000000; }

.navbar-nav li a:focus, .cart {
  background-color: #ffffff;
  color: #000000; }

.navbar-brand:hover, .navbar-brand:focus {
  color: #ffffff; }
